<p>Oscar is a StrapRap: a self-bootstrapping RepRap 3D printer.
Most of Oscar's parts can be salvaged from electronic waste, making Oscar a very affordable printer.
The proposed budget for Oscar is about $50 in electronics and parts.</p>

<p>This project presents new challenges because each Oscar is unique.
The design of Oscar must not rely on access to specific materials.
The assembly instructions must be clear and account for variations in parts.
All printed parts must be parameterized for independent parts.</p>

<p>Oscar is a work in-progress.
We are currently looking for parts.
If you have suggestions, please visit the Oscar GitHub project.</p>